<div class="recipes-container">
  <div class="recipe-card" *ngFor="let recipe of recipesList.recipes">
    <div class="card-image-wrapper">
      <img [src]="recipe.image" [alt]="recipe.name" class="recipe-image">
    </div>

    <div class="card-content">
      <h2 class="recipe-title">{{ recipe.id }} - {{ recipe.name }}</h2>

      <div class="chips-container">
        <span class="chip" *ngFor="let tag of recipe.tags">{{ tag }}</span>
      </div>

      <div class="recipe-details">
        <div class="details-column ingredients-col">
          <h3>Ingredients</h3>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
          </ul>
        </div>

        <div class="details-column instructions-col">
          <h3>Instructions</h3>
          <ol>
            <li *ngFor="let instruction of recipe.instructions">{{ instruction }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>